<html lang="en" xmlns:th="http://thymeleaf.org">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <form th:action="@{/users/save}" th:object="${user}"
          method="post" style="max-width: 600px; margin: 0 auto;">
        <input type="hidden" th:field="*{id}" />
    <section style="transform: translateY(5%)">
        <h1>Policy</h1>
        <div class="login-form">
            <h4>First Name</h4>
            <div class="username-input">
                <i class="fas fa-user"></i>
                <input type="text" placeholder="Type your first name" th:field="*{firstName}">
            </div>
            <h4>Last Name</h4>
            <div class="username-input">
                <i class="fas fa-user"></i>
                <input type="text" placeholder="Type your last name" th:field="*{lastName}">
            </div>
            <h4>Email</h4>
            <div class="username-input">
                <i class="fas fa-user"></i>
                <input type="email" placeholder="Type your email" th:field="*{email}">
            </div>
            <h4>Mobile</h4>
            <div class="username-input">
                <i class="fas fa-user"></i>
                <input type="number" placeholder="Type your mobile number" th:field="*{mobile}" min="6000000000"
                       max="9999999999" minlength="10" maxlength="10">
            </div>
            <h4>Date of Birth</h4>
            <div class="username-input">
                <i class="fas fa-user"></i>
                <input type="date" placeholder="Type your date of birth" th:field="*{dob}">
            </div>
            <h4>Password</h4>
            <div class="password-input">
                <i class="fas fa-lock"></i>
                <input type="checkbox" placeholder="do you consume tobacco" th:field="*{tobaccoConsumption }">
            </div>
            <div class="password-input">
                <i class="fas fa-lock"></i>
                <input type="checkbox" placeholder="Annual Income" th:field="*{annualIncome  }">
            </div>
            <div class="password-input">
                <i class="fas fa-lock"></i>
                <input type="number" placeholder="Life Cover Amount" th:field="*{lifeCoverAmount   }">
            </div>

            <div class="password-input">
                <i class="fas fa-lock"></i>
                <input type="number" placeholder="age " th:field="*{age    }">
            </div>

        </div>
        <button class="login-btn" type="submit">
            Update policy
        </button>
        <div class="alternative-signup">
            <p>Already a member? <span>Login</span></p>
        </div>
    </section>
</form>
</body>
</html>
